body {
  background-color: #eaf3ff;
}

.navbar {
  background-color: #0b5ed7 !important;
}

h1 {
  color: #0b5ed7;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

.card {
  border: 2px solid #b6d4fe;
  border-radius: 15px;
  margin-bottom: 20px;
}

.card-body {
  background-color: #ffffff;
}

.card img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  background-color: #ffffff;
  margin-bottom: 15px;
}

footer {
  background-color: #dbeafe !important;
  text-align: center;
  font-size: 14px;
}
.img-home {
  width: 100%;
  max-width: 800px;
  max-height: 380px;
  object-fit: contain;
  display: block;
  margin-bottom: 20px;
}